.pieChart { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  margin: 20px auto;
    /* background-color: rgb(164, 236, 236); */
    border: 1px solid #333;
}

.composedChart {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  margin: 20px auto;
  border: 1px solid #333;
  /* margin: 20px; */
}

.barChart {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  margin: 20px auto;
  border: 1px solid #333;
}