.form-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 500px;

}


p{
    text-align: left;
    max-width: 600px;
}

input, textarea{
    width: 200px;
}
#city{
    min-width: 200px;

}


.button{
    background-color:#008000; 
    width: 200px;
}