.form-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 500px;

}


p{
    text-align: left;
    max-width: 600px;
}

input, textarea{
    width: 200px;
}
#city{
    min-width: 200px;

}

.button:hover, .button:active{
    border:#008000!important;
    box-shadow:#008000!important;
    outline: none;
}

.button {
    border-color:#008000!important;
    box-shadow:#008000!important;
    background-color:#008000!important; 
    width: 200px;
    outline: none;
}