.modal {
    height: auto;
    width: auto;
    max-width: 500px;
    padding: 16px 8px 16px 8px;
    background-color: white;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

.modal h2 , p {
  margin-left: 16px;
  margin-right: 16px;
}
.form{
  display: flex;
  flex-direction: column;
  padding: 16px 32px 16px 32px;
  justify-content: center;
  align-items: center;
}

.formInput{
  width: 250px;
  height: 32px;
  margin-bottom: 13px;

}

.button{
  width: 100%;
  max-width: 150px;
  height: 40px;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  background-color:#303f9f;
  border-radius: 10px;
  margin-bottom: 16px;
  margin-top: 16px;

  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}