.wrapper{
    padding-top: 8px;
    position: fixed;
}


a{
    color: black;
}

.nav-pills .nav-link.active {
    background-color:  #999999
    
}


@media screen and (max-width: 700px) {

    span{
        display: none;
    }
    .wrapper img {
       margin-left: 16px;
    }
}